body {
    margin: o;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 92%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    padding: 10px;
    justify-content: space-between;
    
}

.header {
    background-color: blue;
    color: white;
}

.top_bar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.holder{
    display: flex;
    align-items: center;
}

.right-nav{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 10px;
}



.hero {
    padding: 20px;
}

.hero-content {
    display: flex;
    /* display flex-direction: row; */
    
}

.text-content{
    text-align: center;
}